@import "variables";
@import "lib/function";
@import "base/normalize";
@import "base/baseIcon";
@import "base/layout";
@import "base/type";
@import "base/button";
@import "base/badge";
@import "base/border";
// @import "base/form";
@import "base/animate";
@import "base/listGroup";
@import "ui/notice";
// @import "ui/mask";
@import "ui/popup";
// @import "vueAnimate/index";

// @import "effect/hover";
a{
	cursor: pointer;
}
.nav{
	padding-top:60px;
	z-index:10;
	// overflow:hidden;
	.bgTemp{
		left:50%;
		top:60px;
		height:74px;
		background:#0692fa;
	}
	.nav_bg{
		max-width:1600px;
		margin:0 auto;
		height:74px;
		&:before{
			content:'';
			position:absolute;
			width: 1000px;
			height:74px;
			background:#0692fa;
			left:-990px;
			top:0;
		}
		&:after{
			content:'';
			position:absolute;
		    width: calc(100% - 180px);
			height:74px;
			background:#0692fa;
			left:180px;
			top:0;
		}
		.logo_bg{
			width: 190px;
			height:100%;
			&:before{
				content:'';
				position:absolute;
				width: 190px;
				height:190px;
				border-radius:100px;
				border:10px solid #0692fa;
				left:0;
				right:0;
				top:-60px;
			}
			&:after{
				content:'';
				position:absolute;
				width: 160px;
				height:160px;
				border-radius:100px;
				border:2px solid #0692fa;
				left:15px;
				top:-45px;
			}
		}
		.logo{
			top:-24px;
			width: 190px;
		}
		.nav_title{
			margin-left:200px;
			z-index:10;
		}

		.navListM{
			display:none;
		}
		.navList,.navListM{
			z-index:10;
			margin-top:25px;
			ul{
				li{
					float:left;
					margin-left:60px;
					margin-right:10px;
					a{
						color:#fff;
						font-size:20px;
						&:hover{
							color:rgba(255,255,255,.5);
						}
					}
					&:first-child{
						margin-left:0;
					}
					.second{
						position:absolute;
						display:none;
						background:rgba(6,146,250,.7);
						padding:30px 10px 0 10px;
						left:-10px;
						right:-10px;
						div{
							padding:5px 0;
						}
						a{
							font-size:14px;
							.hover{
								display:none;
							}
							&:hover{
								color:#fff;
								.a{
									display:none;
								}
								.hover{
									display:inline-block;
								}
							}
						}
					}
				}
			}
		}
		.navList{
			li{
				&:hover{
					.second{
						display:block;
					}
				}
				&:nth-of-type(1){
					.second{
						width:90px;
					}
				}
				&:nth-of-type(2){
					.second{
						width:110px;
					}
				}
				&:nth-of-type(3){
					.second{
						width:180px;
					}
				}
				&:nth-of-type(4){
					.second{
						width:130px;
					}
				}
				&:nth-of-type(5){
					.second{
						width:100px;
					}
				}
			}

		}
		.navListM{
			display:none;
			ul{
				li{
					a{
						display:block;
					}
				}
			}
		}
	}
}
.aboutUs{
	.aboutUsTitle{
		max-width:1180px;
		margin:40px auto 0;
	}
	.aboutUsList{
		max-width:1070px;
		margin:0 auto;
		margin-top:-44px;
		li{
			padding:10px 2%;
			float:left;
			width:50%;
			.box{
				border:1px solid #012697;
				.boxTitle{
					font-size:26px;
					background:#012697;
					line-height:26px;
					padding:25px 40px 25px 20px;
					i{
						font-size:18px;
						line-height:26px;
					}
				}
				.boxCon{
					height:160px;
					background-size:auto 100%;
					background-repeat:no-repeat;
					background-position:right;
					div{
						padding:15px 25px;
						font-size:18px;
						line-height:28px;
					}
				}
			}
		}
	}
}
.contactUs{
	max-width:1070px;
	margin:0 auto;
	.contactUsTitle{
		margin-top:30px;
		.fs-25{
			font-size:25px;
		}
	}
	.contactUsLogo{
		background:#012697;
		height:50px;
		font-size:20px;
		padding-left:150px;
		overflow:hidden;
		line-height:50px;
		.logoBg{
			width:80px;
			height:80px;
			border-radius:100px;
			background:#fff;
			padding:2px;
			left:50px;
			top:-15px;
			span{
				width:100%;
				height:100%;
				border-radius:100px;
				display:block;
				border:1px solid #012697;
			}
		}
	}
	.logos{
		width:80px;
		height:80px;
		border-radius:100px;
		padding:3px;
		left:50px;
		top:-15px;
		span{
			width:100%;
			height:100%;
			display:block;
			img{
				width:90%;
				margin:5% 7% 5% 3%;
			}
		}
	}
	.wechatEmail{
		&>div:first-child{
			width:60%;
		}
		&>div:last-child{
			width:40%;
		}
	}
	.wechat{
		min-width:440px;
		img{
			width:90px;
		}
	}
	.email{
		max-width:320px;
		input,textarea{
			border:1px solid #102e83;
			padding:5px;

		}
		input::-webkit-input-placeholder,textarea::-webkit-input-placeholder { /* WebKit browsers */ 
			color: #102e83; 
		} 
		input:-moz-placeholder,textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
			color: #102e83; 
		} 
		input::-moz-placeholder,textarea::-moz-placeholder { /* Mozilla Firefox 19+ */ 
			color: #102e83; 
		} 
		input:-ms-input-placeholder,textarea:-ms-input-placeholder { /* Internet Explorer 10+ */ 
			color: #102e83; 
		} 
	}
}
.ourServices{
	margin-top:70px;
	padding-left:50%;
	width:100%;
	.ourServicesBg{
		width:50%;
		height:100%;
		background:url(../img/banner_content.jpg) no-repeat top center;
		background-size:cover;
		img{
			display:none;
		}
	}
	.ourServicesList{
		padding:75px 0 75px 75px;
		background:#012697;
		color:#7ba9c6;
		.fs-25{
			font-size:25px;
		}
		ul{
			max-width:750px;
			li{
				color:#7ba9c6;
				.box{
					border:1px solid #7ba9c6;
					margin:20px 20px 0 0;
					height:170px;
				}
				i{
					font-size:100px;
					margin:20px 0 5px;
				}
				.logo{
					.ourLogo{
						width:60px;
						margin-top:15px;
					}
					img{
						margin-top:10px;
						margin-bottom:10px;
					}
					font-size:26px;
				}
				a.temp{
					&:hover,&:active{
						color:#fff;
						.box{
							border:1px solid #fff;
						}
					}
				}
			}
		}
	}
}
.footer{
	background:#012697;
	margin-top:40px;
	padding-bottom:35px;
	.footNav{
		padding:80px 0 60px;
		max-width:900px;
		margin:0 auto;
		li{
			float:left;
			margin:0 40px;
			a{
				color:#fff;
				font-size:20px;
			}
			.second{
				margin-top:10px;
				a{
					color:#97cad6;
					font-size:14px;
					line-height:24px;
					.hover{
						display:none;
					}
					&:hover{
						color:#fff;
						.a{
							display:none;
						}
						.hover{
							display:inline-block;
						}
					}
				}
			}
		}
	}
}
.mask{
	display:none;
	background:rgba(0,0,0,.5);
	z-index:20;
	.maskBox{
		left:50%;
		top:50%;
		margin-left:-150px;
		margin-top:-100px;
		width:300px;
		border-radius:10px;
		padding-bottom:20px;
	}
}
.content{
	min-width:375px;
	@media screen and (max-width: 1390px) {
	    .nav_title {
	        display:none;
	    }
	}
	@media screen and (min-width: 513px) and (max-width:950px) {
		.nav{
			padding-top:0 !important;
		}
		.bgTemp{
			display:none;
		}
	    .nav_bg{
	    	background:#0692fa;
	    	height:50px;
	    	&:before,&:after{
	    		height:50px;
	    	}
	    	.logo {
		    	width:40px !important;
		    	height:40px;
		    	top:5px !important;
		    	left:10px;
		    }
	    }
	    .logo_bg {
	        display:none;
	    }
	    .navList{
	    	padding-left:50px;
	    	margin-top:0 !important;
			li{
				height:50px;
				float:none !important;
				display: table-cell;
    			vertical-align: middle;
				margin-left:0 !important;
				width:auto;
				text-align:center;
				padding:0 10px;
				a{
					font-size:14px !important;
				}
				.second{
					line-height:24px !important;
					text-align:left;
					padding: 20px 10px 0 10px !important;
					left:0px !important;
					right:auto !important;
					div{
					    padding: 3px 0 !important;
					}
				}
				&:nth-of-type(5){
					.second{
						left:auto !important;
						right:0 !important;
					}
				}
			}
		}
		.footNav{
			max-width:700px;
			li{
				margin:0 20px;
			}
		}
		.contactUsLogo{
			height:40px;
			font-size:16px;
			padding-left:120px;
			line-height:40px;
			.logoBg{
				width:60px;
				height:60px;
				padding:2px;
				left:40px;
				top:-10px;
			}
		}
		.logos{
			width:60px;
			height:60px;
			padding:3px;
			left:40px;
			top:-10px;
			span{
				width:100%;
				height:100%;
				display:block;
				img{
					width:90%;
					margin:5% 7% 5% 3%;
				}
			}
		}
		.aboutUsList{
			.box{
				.boxTitle{
					font-size:24px !important;
					line-height:24px !important;
					padding:20px 40px 20px 20px !important;
					i{
						font-size:14px !important;
						line-height:24px !important;
					}
				}
				.boxCon{
					height:140px !important;
					div{
						padding:10px 20px !important;
						font-size:16px !important;
						line-height:24px !important;
					}
				}
			}
		}
	}
	@media screen and (max-width: 512px) {
	    .nav{
			padding-top:0 !important;
			overflow: inherit !important;
		    position: fixed;
		    bottom: auto;
		}
		.bgTemp{
			display:none;
		}
	    .nav_bg{
	    	background:#0692fa;
	    	height:50px;
	    	&:before,&:after{
	    		height:50px;
	    		content:none !important;
	    	}
	    	.logo {
		    	width:40px !important;
		    	height:40px;
		    	top:5px !important;
		    	left:10px;
		    }
	    }
	    .navList{
	    	display:none;
	    }
	    .nav_title {
	    	width: 100%;
	    	margin-left: 0px !important;
	    	padding-top:18px !important;
	        display:block !important;
	        text-align:center;
	        img{
	        	width:60%;
	        }
	    }
	    .navListM {
	        // display:block !important;
	        top: 50px;
	        margin-top:0px !important;
	        float: none !important;
	        li{
	        	padding:10px;
	        	float: none !important;
	        	margin-left:0 !important;
	        	background:rgba(255,255,255,.9);
	        	border-bottom:1px solid #999;
	        	margin-right: 0 !important;
	        	a{
	        		font-size:14px !important;
	        		color:#666 !important;
	        	}
	        	.second{
	        		margin-top:5px;
					// display:block !important;
					position:relative !important;
					background:none !important;
					padding:0 !important;
					left:0px !important;
					right:0px !important;
					line-height:36px !important;
					div{
						&:last-child{
							border-bottom:0;
						}
					}
				}
	        }
	    }
	    .menu{
	    	display:block !important;
	    }
	    .footer{
	    	font-size:10px;
	    	padding:10px 0;
	    	.footNav{
		    	display:none;
		    }
	    }
	    .contactUsLogo{
			height:40px;
			font-size:14px;
			padding-left:100px;
			line-height:40px;
			.logoBg{
				width:60px;
				height:60px;
				padding:2px;
				left:20px;
				top:-10px;
			}
		}
		.logos{
			width:60px;
			height:60px;
			padding:3px;
			left:20px;
			top:-10px;
			span{
				width:100%;
				height:100%;
				display:block;
				img{
					width:90%;
					margin:5% 7% 5% 3%;
				}
			}
		}
		.aboutUsList{
			.box{
				.boxTitle{
					font-size:20px !important;
					line-height:20px !important;
					padding:15px 35px 15px 15px !important;
					i{
						font-size:12px !important;
						line-height:22px !important;
					}
				}
				.boxCon{
					height:120px !important;
					div{
						padding:10px 15px !important;
						font-size:12px !important;
						line-height:20px !important;
					}
				}
			}
		}
	}
	@media screen and (max-width: 1180px) {
		.aboutUsTitle,.contactUsTitle{
			padding:0 2%;
		}
		.aboutUsList{
			margin-top:10px !important;
		}
	}
	@media screen and (max-width: 750px) {
		.aboutUsTitle,.contactUsTitle{
			margin-top:20px !important;
			padding:0 10px !important;
			img{
				width:20%;
			}
		}
		.aboutUsList{
			margin-top:10px !important;
			li{
				padding:10px 10px 0;
				float:none;
				width:100%;
			}
		}
		.wechatEmail{
			.float-left{
				float:none !important;
			}
			&>div:first-child{
				width:100%;
				img{
					width:60%;
					margin:10% 20%;
				}
			}
			&>div:last-child{
				width:100%;
			}
			.wechat{
				min-width: 100% !important;
			    font-size: 14px;
    			line-height: 20px;
    			.line{
    				display:inline-block;
    			}
			}
			.email{
				padding:10px;
				max-width:100% !important;
			}
		}
		.ourServices{
			margin-top: 40px;
    		padding-left: 0%;
    		.ourServicesBg{
    			width:100%;
    			position: relative;
    			img{
    				display:block;
    			}
    		}
    		.ourServicesList{
				padding:20px 0 20px 20px;
				.fs-25{
					font-size:1em;
				}
				.fs-20{
					font-size:.8em;
					line-height:14px !important;
				}
				.img{
					width:100px;
				}
				ul{
					max-width:100%;
					li{
						.box{
								border:1px solid #7ba9c6;
								margin:20px 20px 0 0;
								height:115px;
								line-height:16px;
							}
						i{
							font-size:60px;
							margin:15px 0 5px;
						}
						.logo{
							.ourLogo{
								width:40px;
								margin-top:15px;
							}
							img{
								width:80%;
								margin-top:5px;
								margin-bottom:5px;
							}
							font-size:16px;
						}
					}
				}
			}
		}
		.contactUs{
			.fs-25{
				font-size:14px;
			}
		}
		.footNav{
			max-width:512px;
			padding:40px 0 30px;
			li{
				margin:0 8px;
				a{
					color:#fff;
					font-size:14px;
				}
				.second{
					margin-top:10px;
					a{
						font-size:12px;
						line-height:20px;
					}
				}
			}
		}
	}
	@media screen and (min-width: 513px) {
		.navListM{
			display:none !important;
		}
	}
	@media screen and (min-width: 751px) and (max-width:1490px) {
    	.ourServicesList{
			padding:40px 0 40px 40px;
			.fs-25{
				font-size:20px;
			}
			.fs-20{
				font-size:14px;
			}
			.img{
				width:180px;
			}
			ul{
				max-width:600px;
				li{
					.box{
							border:1px solid #7ba9c6;
							margin:20px 20px 0 0;
							height:115px;
							line-height:16px;
						}
					i{
						font-size:60px;
						margin:15px 0 5px;
					}
					.logo{
						.ourLogo{
							width:40px;
							margin-top:15px;
						}
						img{
							width:80%;
							margin-top:5px;
							margin-bottom:5px;
						}
						font-size:18px;
					}
				}
			}
		}
	}
}



