@import "variables";
@import "lib/function";
@import "base/normalize";
@import "base/baseIcon";
@import "base/layout";
@import "base/type";
@import "base/button";
@import "base/badge";
@import "base/border";
@import "base/form";
@import "base/animate";
@import "base/listGroup";
@import "ui/notice";
@import "ui/mask";
@import "ui/popup";
// @import "vueAnimate/index";

// @import "effect/hover";

.nav{
	padding-top:60px;
	z-index:10;
	overflow:hidden;
	.nav_bg{
		max-width:1600px;
		margin:0 auto;
		height:74px;
		&:before{
			content:'';
			position:absolute;
			width: 1000px;
			height:74px;
			background:#012697;
			left:-990px;
			top:0;
		}
		&:after{
			content:'';
			position:absolute;
			width: 100%;
			height:74px;
			background:#012697;
			left:180px;
			top:0;
		}
		.logo_bg{
			width: 190px;
			height:100%;
			&:before{
				content:'';
				position:absolute;
				width: 190px;
				height:190px;
				border-radius:100px;
				border:10px solid #012697
			}
			&:after{
				content:'';
				position:absolute;
				width: 160px;
				height:160px;
				border-radius:100px;
				border:2px solid #012697
			}
		}
		.logo{
			top:-24px;
			width: 190px;
		}
		.nav_title{
			margin-left:200px;
			z-index:10;
		}
		.navList{
			z-index:10;
			margin-top:25px;
			ul{
				li{
					float:left;
					margin-left:70px;
					a{
						color:#fff;
						font-size:20px;
						&:hover{
							color:rgba(255,255,255,.5);
						}
					}
					&:first-child{
						margin-left:0;
					}
				}
			}
		}
	}
}

.content{
	min-width:375px;
	@media screen and (max-width: 1380px) {
	    .nav_title {
	        display:none;
	    }
	}
	@media screen and (max-width: 950px) {
	    .nav_bg{
	    	background:#012697;
	    }
	    .logo_bg {
	        display:none;
	    }
	    .logo {
	        display:none;
	    }
	    .navList{
	    	width:100%;
	    	margin-top:0 !important;
			li{
				height:74px;
				float:none !important;
				display: table-cell;
    			vertical-align: middle;
				margin-left:0 !important;
				width:20%;
				text-align:center;
			}
		}
	}
}



