@import "variables";
@import "lib/function";
@import "base/normalize";
@import "base/baseIcon";
@import "base/layout";
@import "base/type";
@import "base/button";
@import "base/badge";
@import "base/border";
// @import "base/form";
@import "base/animate";
@import "base/listGroup";
@import "ui/notice";
// @import "ui/mask";
@import "ui/popup";
// @import "vueAnimate/index";

// @import "effect/hover";
$time:.5s;
html{
	height:100%;
	body{
		height:100%;
		
	}
}
.content{
	max-width:1240px;
	min-width:320px;
	margin:0 auto;
	transition: background-color $time;
	.app_left{
		width:38%;
		padding:90px 60px;
		font-size:18px;
		transition: background $time;
		.name{
			font-size:37px;
			padding:40px 0 20px;
		}
		.pic{
			padding:0 30px;
			overflow:hidden;
			&>div:before,&>div:after{
				content:'';
				position:absolute;
				width:50%;
				height:100%;
				top:0;
				z-index:0;
			}
			&>div:before{
				left:0;
				transition: background $time;
			}
			&>div:after{
				right:0;
				transition: background $time;
			}
			img{
				z-index:1;
			}
		}
		.skills{
			margin-top:40px;
			dt{
				font-size:30px;
				padding:10px 0;
			}
			dd{
				padding:10px 0;
				.skill_name{
					min-width:40%;
				}
				.skill_list{
					span{
						width:12px;
						height:12px;
						border-radius:50%;
						display:block;
					}
				}
			}
		}
		.about{
			margin-top:40px;
			.iconBg{
				width:48px;
				height:48px;
				border-radius:50%;
				font-size:26px;
				margin-right:20px;
			}
		}
	}
	.app_right{
		padding:90px 0;
		margin:0 60px;

		.rightBg{
			font-size:30px;
			padding:40px 20px 20px;
			transition: background $time;
			.date{
				min-width:150px;
				text-align:right;
			}
			.margint5{
				margin-top:5px;
			}
			&.margint60{
				margin-top:60px;
			}
			&.marginb60{
				margin-bottom:60px;
			}
			.fs-60{
				font-size:60px;
			}
		}
	}
	.selectTheme{
		position:absolute;
		right:0;
		div{
			width:40px;
			height:40px;
			border-bottom-left-radius:20px;
			border-bottom-right-radius:20px;
			overflow:hidden;
			transition: height $time;
			&:after{
				content:'';
				position: absolute;
				top:0;
				bottom:0;
				left:15px;
				right:25px;
				width:10px;
			}
			&:nth-of-type(1){
				background:#1d91ce;
				&:after{
					background:#efeeee;
				}
			}
			&:nth-of-type(2){
				background:#d01e5a;
				&:after{
					background:#303231;
				}
			}
			&:nth-of-type(3){
				background:#fdba11;
				&:after{
					background:#303231;
				}
			}
			&.current{
				height:60px;

			}
		}
	}
	.textColor{
		transition: color $time;
	}
	.bgColor{
		transition: background-color $time;
	}
}
.theme_1{
	background-color:#e3e3e3;
	color:#454545;
	.app_left{
		background:#efeeee;
		.skills{
			dd{
				.skill_list{
					span{
						background:#bbb;
					}
				}
			}
		}
		.about{
			.iconBg{
				color:#fff;
			}
		}
		.pic{
			&>div:before{
				background:#5b4b82;
			}
			&>div:after{
				background:#534579;
			}
		}
	}
	.app_right{
		.rightBg{
			background:#efeeee;
		}
	}
	.textColor{
		color:#1d91ce !important;
	}
	.bgColor{
		background-color:#1d91ce !important;
	}
}
.theme_2{
	background-color:#444746;
	color:#ebebeb;
	.app_left{
		background:#303231;
		.skills{
			dd{
				.skill_list{
					span{
						background:#bbb;
					}
				}
			}
		}
		.about{
			.iconBg{
				color:#fff;
			}
		}
		.pic{
			&>div:before{
				background:#b7332b;
			}
			&>div:after{
				background:#a22e24;
			}
		}
	}
	.app_right{
		.rightBg{
			background:#303231;
		}
	}
	.textColor{
		color:#d01e5a !important;
	}
	.bgColor{
		background-color:#d01e5a !important;
	}
}
.theme_3{
	background-color:#444746;
	color:#ebebeb;
	.app_left{
		background:#303231;
		.skills{
			dd{
				.skill_list{
					span{
						background:#bbb;
					}
				}
			}
		}
		.about{
			.iconBg{
				color:#303231;
			}
		}
		.pic{
			&>div:before{
				background:#f6a11d;
			}
			&>div:after{
				background:#ee9d21;
			}
		}
	}
	.app_right{
		.rightBg{
			background:#303231;
		}
	}
	.textColor{
		color:#fdba11 !important;
	}
	.bgColor{
		background-color:#fdba11 !important;
	}
}
.content{
	@media screen and (min-width: 751px) and (max-width:950px) {
		.app_left{
			padding:50px 30px;
			font-size:16px;
			.name{
				font-size:32px;
				padding:30px 0 10px;
			}
			.pic{
				padding:0 20px;
			}
			.skills{
				margin-top:30px;
				dt{
					font-size:24px;
				}
			}
			.about{
				margin-top:30px;
			}
		}
		.app_right{
			padding:50px 0;
			margin:0 40px;
			.rightBg{
				font-size:24px;
				padding:30px 20px 20px;
				.date{
					min-width:120px;
				}
				.fs-18{
					font-size:16px;
				}
				.fs-20{
					font-size:18px;
				}
				.paddingh20{
					padding:0 15px;
				}
				&.margint60{
					margin-top:50px;
				}
				&.marginb60{
					margin-bottom:50px;
				}
			}
		}	
	}
	@media screen and (max-width: 750px) {
		&.flex-container{
			display:block;
		}
		.app_left{
			width:100%;
			padding:90px 60px 50px;
		}
		.app_right{
			padding:0;
			padding-top:50px;
			margin:0 0px;
			.rightBg{
				font-size:30px;
				padding:40px 20px 20px;
				.date{
					min-width:150px;
					text-align:right;
				}
			}
		}
	}
	@media screen and (max-width: 512px) {
		.app_left{
			padding:90px 30px 50px;
		}
		.app_right{
			padding:50px 0;
			margin:0 0px;
			.rightBg{
				font-size:30px;
				padding:40px 30px 20px;
				.date{
					min-width:150px;
					text-align:left;
				}
				span{
					display:none;
				}
				.block{
					display:block;
				}
				.fs-20{
					font-size:18px;
					padding:5px 0;
				}
				&.margint60{
					margin-top:50px;
				}
				.fs-60{
					font-size:50px;
				}
				.fs-18{
					font-size:16px;
				}
				.lh-28{
					line-height:1;
				}
			}
		}
	}
}



