@font-face {
  font-family: 'icomoon';
  src:  url('font/icomoon.eot?qvxdhz');
  src:  url('font/icomoon.eot?qvxdhz#iefix') format('embedded-opentype'),
    url('font/icomoon.ttf?qvxdhz') format('truetype'),
    url('font/icomoon.woff?qvxdhz') format('woff'),
    url('font/icomoon.svg?qvxdhz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nav_health:before {
  content: "\e903";
}
.icon-nav_travel:before {
  content: "\e904";
}
.icon-nav_immigrant:before {
  content: "\e905";
}
.icon-nav_ma:before {
  content: "\e906";
}
.icon-nav_oem:before {
  content: "\e907";
}
.icon-nav_welfare:before {
  content: "\e908";
}
.icon-nav_estate:before {
  content: "\e909";
}
.icon-nav_earth:before {
  content: "\e90a";
}
.icon-x_menu:before {
  content: "\e902";
}
.icon-x_rightFill:before {
  content: "\e901";
}
.icon-x_right:before {
  content: "\e900";
}
